{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <br>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form | crispy }}

                <button type="submit" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create
                </button>
            </form>
        </div>
    </div>

{% endblock %}