{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%  block content %}
    <br>
    <div class="row">
        <div class="col-lg-1">
            <div class="card">
              <div class="card-block text-center ticket-id-block">
                ID: {{ ticket.id }}
              </div>
            </div>
            <br>
            <a href='{{ ticket.get_absolute_url }}' class="btn btn-block btn-outline-info btn-sm">
                <i class="fa fa-arrow-left"></i> Back to Ticket
            </a>
        </div>

        <div class="col-lg-5">
            <h5>Subscribers</h5>
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" action="{% url 'ticket:create_subscriber' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="input-group input-margin-top">
                            <span class="input-group-addon sm-addon" id="owner-addon">User *</span>
                            <select class="select form-control sm-input"
                                    name="owner"
                                    required
                                    id="id_owner">
                                {% for val in form.owner %} {{ val }} {% endfor %}
                            </select>
                        </div>

                        <select class="select form-control sm-input"
                                name="ticket"
                                required
                                id="id_ticket"
                                hidden>
                            <option value="{{ ticket.id }}" selected>{{ ticket.id }}</option>
                        </select>

{#                        {{ form | crispy }}#}
                    <br>

                        <button class="btn btn-success btn-sm btn-block">
                            <i class="fa fa-plus"></i> Subscriber
                        </button>
                    </form>
                </div>
            </div>
            <hr>
             <table class="table table-bordered table-sm">
                 <thead>
                    <td></td>
                    <td>User</td>
                    <td>Name</td>
                    <td>Email</td>
                 </thead>
                 <tbody>
                    {%  for sub in subscriber_list %}
                        <tr>
                            <td>
                                <a href="{% url 'ticket:delete_subscriber' user_id=sub.owner.id ticket_id=ticket.id %}?redirect_url={{ request.path }}"
                                   class="btn btn-outline-warning btn-sm">
                                    <i class="fa fa-minus-circle"></i> Unsubscribe
                                </a>
                            </td>
                            <td>{{ sub.owner.username }}</td>
                            <td>{{ sub.owner.first_name }} {{ sub.owner.last_name }}</td>
                            <td>{{ sub.owner.email }}</td>
                        </tr>
                    {%  endfor %}
                 </tbody>
             </table>

        </div> <!-- ./col-lg-5 -->

        <div class="col-lg-3">
            <h5>Email Only Subscribers</h5>
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" action="{% url 'ticket:create_email_subscriber' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="input-group input-margin-top">

                            <input type="email"
                                   name="address"
                                   class="emailinput form-control sm-input"
                                   required=""
                                   id="id_address"
                                   maxlength="254" placeholder="e.g. test@test.com">

                        </div>

                        <select class="select form-control sm-input"
                                name="ticket"
                                required
                                id="id_ticket"
                                hidden>
                            <option value="{{ ticket.id }}" selected>{{ ticket.id }}</option>
                        </select>

                    <br>

                        <button class="btn btn-success btn-sm btn-block">
                            <i class="fa fa-plus"></i> Email Subscriber
                        </button>
                    </form>
                </div>
            </div>
            <hr>
             <table class="table table-bordered table-sm">
                 <thead>
                    <td></td>
                    <td>Email</td>
                 </thead>
                 <tbody>
                    {%  for sub in ticket.email_subscribers.all %}
                        <tr>
                            <td>
                                <form method="POST" action="{% url "ticket:delete_email_subscriber" id=sub.id %}">
                                   {% csrf_token %}
                                    <button class="btn btn-outline-warning btn-sm" type="submit">
                                        <i class="fa fa-minus-circle"></i> Unsubscribe
                                    </button>
                                </form>
                            </td>
                            <td>{{ sub.address }}</td>
                        </tr>
                    {%  endfor %}
                 </tbody>
             </table>

        </div> <!-- ./col-lg-5 -->

    </div>

{% endblock %}