{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <br>
            <h6>Reporting</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ by_company_chart.as_html }}
        </div>
        <div class="col-lg-6">
            {{ by_type_chart.as_html }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {{ by_month_chart.as_html }}
        </div>
    </div>

{%  endblock %}