{% extends 'base.html' %}

{%  block content %}

    <div class="col-lg-5">
        <br>
        <form action="" method="post">{% csrf_token %}
            <h6>Are you sure you want to delete Ticket ID {{ ticket.id }}?</h6>
            <br>
            <a href='{{ ticket.get_absolute_url }}' class="btn btn-outline-warning">
                <i class="fa fa-arrow-left"></i> Cancel
            </a>
            <button type="submit" class="btn btn-outline-danger">
                <i class="fa fa-trash"></i> Confirm
            </button>
        </form>

    </div>


{% endblock %}