{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <br>

            {% include 'partials/ticket_form.html' %}

        </div>
    </div>

{% endblock %}