{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-4">

            {% include 'partials/ticket_reporting_form.html' %}

        </div> <!-- ./col-lg-4 -->
    </div> <!-- ./row -->

    <hr>

    <div class="row">
        <div class="col-lg-12">

            {% if report %}

                {% if report.company %}

                    {% include 'partials/ticket_single_company_report.html' %}

                {% else %}

                    {% include 'partials/ticket_all_companies_report.html' %}

                {% endif %}

            {% endif %}

        </div> <!-- ./col-lg-12 -->
    </div> <!-- ./row -->

{%  endblock %}