{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%  block content %}
    <br>
    <div class="row">
        <div class="col-lg-1">
            <div class="card">
              <div class="card-block text-center ticket-id-block">
                ID: {{ ticket.id }}
              </div>
            </div>
            <br>
            <a href='{% url "ticket:merge_ticket" id=ticket.id %}' class="btn btn-block btn-outline-warning btn-sm">
                <i class="fa fa-compress"></i> Merge
            </a>
            <a href='{% url "ticket:delete_ticket" id=ticket.id %}' class="btn btn-block btn-outline-danger btn-sm">
                <i class="fa fa-trash"></i> Delete
            </a>

            {%  if user_subscribed %}
                <a href="{% url 'ticket:delete_subscriber' user_id=user.id ticket_id=ticket.id %}" class="btn btn-block btn-outline-warning btn-sm">
                    <i class="fa fa-minus-circle"></i> Unsubscribe
                </a>
            {% else %}
                <a href="{% url 'ticket:add_subscriber' user_id=user.id ticket_id=ticket.id %}" class="btn btn-block btn-outline-info btn-sm">
                    <i class="fa fa-plus-circle"></i> Subscribe
                </a>
            {% endif %}
            <a href="{% url 'ticket:subscriber_list' id=ticket.id %}" class="btn btn-block btn-outline-primary btn-sm">
                <i class="fa fa-users"></i> Subscribers
            </a>

            <hr>

            <div class="card">
                <div class="card-block text-center ticket-id-block">
                    Tags
                </div>
                <ul class="list-group list-group-flush">
                    {%  for tag in ticket.tags.all %}
                        <li class="list-group-item text-center">
                            {{ tag.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <br>
        </div>

        <div class="col-lg-3">

            {% include 'partials/ticket_detail_panel.html' %}

        </div> <!-- ./col-lg-3 -->

        <div class="col-lg-8">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ticket-comments" role="tab">Comments</a>
                </li>

                {% if user.profile.is_twodb_user %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ticket-events" role="tab">Events</a>
                    </li>
                {% endif %}

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                {% include 'partials/ticket_comments_panel.html' %}

                {% if user.profile.is_twodb_user %}
                    {% include 'partials/ticket_events_panel.html' %}
                {% endif %}

            </div> <!-- ./tab-content -->

        </div> <!-- ./col-lg-8 -->
    </div>

{% endblock %}