{% extends 'base.html' %}

{%  block content %}

    <p>Ticket Detail</p>

    {{ ticket }}

    {%  for comment in ticket.comments.all %}
        <p>{{ comment }}</p>
    {% endfor %}

{% endblock %}