{% extends 'base.html' %}

{%  block content %}
    <br>

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <a class="btn btn-outline-success btn-sm btn-block" href='{% url "ticket:create_ticket" %}'>
                <i class="fa fa-plus"></i> Create Ticket
            </a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover table-bordered table-sm  hidden-md-down">
                <thead>
                    <tr>
                        <form id="id_form_filter" action="" method="get">
                            {% csrf_token %}
                            <td>
{#                                <button class="btn btn-sm btn-primary">#}
{#                                    <i class="fa fa-filter" aria-hidden="true"></i>#}
{#                                </button>#}
                            </td>
                            <td><a href="?order_by=id">ID</a></td>
                            <td>
                                <a href="?order_by=company">Company</a>
                                <select class="form-control sm-select" name="company" id="id_company">
                                    {% for company in filter.form.company %}
                                        {{ company }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="?order_by=category">Category</a>
                                <select class="form-control sm-select" name="category" id="id_category">
                                    {% for category in filter.form.category %}
                                        {{ category }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="?order_by=assigned_to">Assigned To</a>
                                <select class="form-control sm-select" name="assigned_to" id="id_assigned_to">
                                    {% for user in filter.form.assigned_to %}
                                        {{ user }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td><a href="?order_by=title">Title</a></td>
                            <td>Description</td>
                            <td>
                                <a href="?order_by=status">Status</a>
                                <select class="form-control sm-select" name="status" id="id_status">
                                    {% for status in filter.form.status %}
                                        {{ status }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="?order_by=priority">Priority</a>
                                <select class="form-control sm-select" name="priority" id="id_priority">
                                    {% for priority in filter.form.priority %}
                                        {{ priority }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="?order_by=type">Type</a>
                                <select class="form-control sm-select" name="type" id="id_type">
                                    {% for type in filter.form.type %}
                                        {{ type }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="?order_by=reported_by">Reported By</a>
                                <select class="form-control sm-select" name="reported_by" id="id_reported_by">
                                    {% for reported_by in filter.form.reported_by %}
                                        {{ reported_by }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href="?order_by=updated_by">Last Updated By</a>
                                <select class="form-control sm-select" name="updated_by" id="id_updated_by">
                                    {% for updated_by in filter.form.updated_by %}
                                        {{ updated_by }}
                                    {% endfor %}
                                </select>
                            </td>
                            <td><a href="?order_by=updated">Update On</a></td>
                        </form>
                    </tr>
                </thead>
                <tbody>
                <form method="post" action='{% url "ticket:multi_select" %}' enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for ticket in ticket_list %}
                    <tr>
                        <td>
                            <input type="checkbox" value="{{ ticket.id }}" name="tickets_selected"/>
                        </td>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.company }}</td>
                        <td>{{ ticket.category }}</td>
                        <td>{{ ticket.assigned_to }}</td>
                        <td>{{ ticket.title | truncatewords:7 }}</td>
                        {% if ticket.description %}
                            <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.description | truncatewords:8 }}</a></td>
                        {% else %}
                            <td><a href='{{ ticket.get_absolute_url }}'>* No description*</a></td>
                        {% endif %}
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.type }}</td>
                        <td>
                            {% if ticket.reported_by %}
                                {{ ticket.reported_by }}
                            {% else %}
                                Email
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.updated_by %}
                                {{ ticket.updated_by }}
                            {% else %}
                                Email
                            {% endif %}
                        </td>
                        <td>{{ ticket.updated | date:'d/m/y H:i'}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <button type="submit" class="btn btn-sm btn-outline-info hidden-md-down">
                <i class="fa fa-list" aria-hidden="true"></i> Multi Select
            </button>


            {% for ticket in ticket_list %}

                <div class="card hidden-md-up">
                    <div class="card-header">
                        <a href='{{ ticket.get_absolute_url }}'>{{ ticket.id }}: {{ ticket.company }} - {{ ticket.title }}</a>
                    </div>
                    <div class="card-block">
                        <p class="card-text">Priority: {{ ticket.priority }} | Status: {{ ticket.status }}</p>
                        <p class="card-text">
                            Last Updated: {{ ticket.updated | date:'d/m/y H:i'}} by
                            {% if ticket.updated_by %}
                                {{ ticket.updated_by }}
                            {% else %}
                                Email
                            {% endif %}
                        </p>
                    </div>
                </div>
                <br class="hidden-md-up">

            {% endfor %}


{#            <div class="card hidden-md-up">#}
{#                <ul class="list-group list-group-flush">#}
{#                    {% for ticket in ticket_list %}#}
{#                        <li class="list-group-item">#}
{#                            <a href='{{ ticket.get_absolute_url }}'>#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-12">#}
{#                                        <h6>{{ ticket.id }}: {{ ticket.company }} - {{ ticket.title }}</h6>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-12">#}
{#                                        Priority: {{ ticket.priority }} | Status: {{ ticket.status }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-12">#}
{#                                        Last Updated: {{ ticket.updated | date:'d/m/y H:i'}} by {{ ticket.updated_by }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}

        <br>
        </form>

            {% if is_paginated %}
                <br>
                <ul class="pagination pagination-sm">

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link" href="#">&laquo;</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}

                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a></li>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                    {% endif %}

                </ul>

            {% endif %}

        </div> <!-- ./col-12 -->
    </div>

{%  endblock %}