{% extends 'base.html' %}

{%  block content %}
    <br>
    <div class="row">
        <div class="col-12">

            {% include 'partials/ticket_search_form.html' %}

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <td></td>
                        <td>
                            <a href="?order_by=id">ID</a>
                        </td>
                        <td>
                            <a href="?order_by=company">Company</a>
                        </td>
                        <td>
                            <a href="?order_by=category">Category</a>
                        </td>
                        <td>
                            <a href="?order_by=assigned_to">Assigned To</a>
                        </td>
                        <td>
                            <a href="?order_by=title">Title</a>
                        </td>
                        <td>Description</td>
                        <td>
                            <a href="?order_by=status">Status</a>
                        </td>
                        <td>
                            <a href="?order_by=priority">Priority</a>
                        </td>
                        <td>
                            <a href="?order_by=type">Type</a>
                        </td>
                        <td>
                            <a href="?order_by=reported_by">Reported By</a>
                        </td>
                        <td>
                            <a href="?order_by=updated_by">Last Updated By</a>
                        </td>
                        <td>
                            <a href="?order_by=updated">Update On</a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <form method="post" action='{% url "ticket:multi_select" %}' enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for ticket in ticket_list %}
                    <tr>
                        <td>
                            <input type="checkbox" value="{{ ticket.id }}" name="tickets_selected"/>
                        </td>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.company }}</td>
                        <td>{{ ticket.category }}</td>
                        <td>{{ ticket.assigned_to }}</td>
                        <td>{{ ticket.title | truncatewords:7 }}</td>
                        {% if ticket.description %}
                            <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.description | truncatewords:8 }}</a></td>
                        {% else %}
                            <td><a href='{{ ticket.get_absolute_url }}'>* No description*</a></td>
                        {% endif %}
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.priority }}</td>
                        <td>{{ ticket.type }}</td>
                        <td>{{ ticket.reported_by }}</td>
                        <td>{{ ticket.updated_by }}</td>
                        <td>{{ ticket.updated | date:'d/m/y H:i'}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            <button type="submit" class="btn btn-sm btn-outline-info">
                <i class="fa fa-list" aria-hidden="true"></i> Multi Select
            </button>
        <br>
        </form>

            {% if is_paginated %}
                <br>
                <ul class="pagination pagination-sm">

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link" href="#">&laquo;</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}

                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a></li>
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                    {% endif %}

                </ul>

            {% endif %}

        </div> <!-- ./col-12 -->
    </div> <!-- ./row -->

    <br>

    <div class="row">
        <div class="col-2">
            <div class="alert alert-success">
                {{ ticket_list.count }} of {{ total_qs_count }} Tickets found
            </div>
        </div>
    </div> <!-- ./row -->

{%  endblock %}