{% extends 'base.html' %}

{%  block content %}

    <div class="col-lg-3">
        <br>
        <p>
            <a href='{% url 'ticket:ticket_list' %}' class="btn btn-outline-info btn-sm">
                <i class="fa fa-arrow-left"></i> Cancel
            </a>
        </p>

        <h5>Selected Tickets:</h5>

        <p class="alert alert-info">{{ selected_tickets }}</p>

        <br>

        {% comment %} merge all selected tickets {% endcomment %}
        <div>
            <form action="{% url 'ticket:multi_merge' %}" method="post">
                {% csrf_token %}
                <h6>Merge all selected tickets into ticket id:</h6>
                <div class="form-group">
                    <input type="number" class="form-control" id="id_to_ticket" name="to_ticket" required />
                </div>
                <button type="submit" class="btn btn-outline-warning">
                    <i class="fa fa-compress"></i> Merge All
                </button>
            </form>
        </div>

        <br>

        <h6>or</h6>

        <br>
        {% comment %} delete all selected tickets {% endcomment %}
        <p>
            <a href='{% url 'ticket:multi_delete' %}' class="btn btn-outline-danger">
                <i class="fa fa-trash"></i> Delete All
            </a>
        </p>


    </div>



{%  endblock %}