{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%  block content %}

    <div class="col-lg-3">
        <br>
        <form action="" method="post">{% csrf_token %}
            <h6>Are you sure you want to merge Ticket ID {{ ticket_id }}?</h6>
            <br>

            <div class="form-group">
                <label for="id_from_ticket">From Ticket</label>
                <input type="number" class="form-control" id="id_from_ticket" name="from_ticket" value="{{ ticket_id }}" required />
            </div>
            <div class="form-group">
                <label for="id_to_ticket">To Ticket*</label>
                <input type="number" class="form-control" id="id_to_ticket" name="to_ticket" required />
            </div>
            <br>
            <button type="submit" class="btn btn-outline-warning">
                <i class="fa fa-compress"></i> Merge
            </button>
        </form>

    </div>


{% endblock %}