{% extends "admin/base.html" %}

{% block title %}{{ title }} | Support Hub{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Support Hub Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
