{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}Support Hub{% endblock %}</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
        </script>
    </head>
    <body>
        <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href='{% url "ticket:ticket_list" %}' class="navbar-brand d-flex w-100 mr-auto">
                <img src="http://2db.com/images/2db_logo.jpg" height="30" class="d-inline-block align-top" alt="">
            </a>

            {% if user.is_authenticated %}
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mx-auto w-100 justify-content-center">
                        <li class="nav-item">
                            <form class="form-inline" method="get" action='{% url "ticket:ticket_quick_search" %}'>
                                <input class="form-control mr-sm-2" type="text" name="ticket_id" placeholder="Search Ticket ID">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse" id="collapsingNavbar3">
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "ticket:ticket_list" %}'>Tickets</a>
                        </li>
                        {% if user.profile.is_twodb_user %}
                            <li class="nav-item">
                                <a class="nav-link" href='{% url "ticket:ticket_search" %}'>Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='{% url "ticket:ticket_reporting" %}'>Reporting</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "auth:change_password" %}'>Change Password</a>
                        </li>

    {#                    <li class="nav-item dropdown">#}
    {#                        <a class="nav-link dropdown-toggle"#}
    {#                           href="http://example.com"#}
    {#                           id="navbarDropdownMenuLink"#}
    {#                           data-toggle="dropdown" a#}
    {#                           ria-haspopup="true"#}
    {#                           aria-expanded="false"> Profile#}
    {#                        </a>#}
    {#                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
    {#                          <a class="dropdown-item" href="#">Action</a>#}
    {#                          <a class="dropdown-item" href="#">Another action</a>#}
    {#                          <a class="dropdown-item" href="#">Something else here</a>#}
    {#                        </div>#}
    {#                    </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href='{% url "auth:logout" %}'>Logout: {{ user.username }}</a>
                        </li>
                    </ul>

                </div>
            {% endif %}
        </nav>

        <div class="container-fluid">

            {% block content %}
                No Content found
            {% endblock content %}

            {% if messages %}
                <br>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-4">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <div class="alert alert-info alert-dismissible text-center fade show">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>

        <script>
            $( function() {
                $("select").each(function(){
                    $(this).change(function() {
                        $("#id_form_filter").submit();
                    });
                });

                $( "#id_created_0" ).datepicker();
                $( "#id_created_1" ).datepicker();
                $( "#id_updated_0" ).datepicker();
                $( "#id_updated_1" ).datepicker();
                $( "#id_from_date" ).datepicker();
                $( "#id_to_date" ).datepicker();
                }
            );
        </script>
    </body>
</html>