body {
    color: #393b3c;
    font-size: 0.9rem;
}

label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

td {
    text-align: center;
}

ul {
    list-style: none;
}

.form-group {
    margin-bottom: 0.6rem;
}

.list-group-item {
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
}

.table-hover tbody tr:hover {
    background-color: #f4f4f4;
}


/* Ticket update view */

.comment-add-container {
    min-height: 20vh;
    max-height: 20vh;
}

.comment-header {
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
}

.comments-list {
    padding: 0.65rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-height: 56vh;
    max-height: 56vh;
    overflow-y: scroll;
}

.comment-owner {
    color: #0077BC;
}

.input-margin-top {
    margin-top: 2%;
}

.sm-addon {
    font-size: 0.8rem;
    width: 105px;
}

.sm-input {
    font-size: 0.9rem;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    max-height: 35px;
}

.sm-select {
    font-size: 0.75rem;
    max-height: 1.6rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.tag-btn-container {
    margin-bottom: 1.5%;
}

.ticket-detail-summary {
    min-height: 43vh;
    max-height: 43vh;
    overflow-y: scroll;
}

.ticket-id-block {
    padding: 8px;
}

/* Ticket update view */

/* Ticket search view */

.search-form-container {
    padding: 1.25rem;
}

/* Ticket search view */

/*
reporting cells

0 value
    background-color: #F7F7F7;
    color: #d3d1d1;


*/

.zero-cell {
    background-color: #F7F7F7;
    color: #d3d1d1;
}