<br>
<div class="row">
    <div class="col-lg-12">
        <form method="post" action="{% url 'ticket:create_tag' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-group input-margin-top">
                <span class="input-group-addon sm-addon" id="site-name-addon">Tag Name(s)</span>
                <input class="form-control sm-input"
                       id="id_name"
                       type="text"
                       name="name"
                       maxlength="250"
                       placeholder="Enter tags e.g. tag1, tag2, tag3"/>
            </div>

            <input type="number"
                   name="ticket_id"
                   class="numberinput form-control"
                   id="id_ticket_id"
                   hidden value="{{ ticket.id }}">

            <br>

            <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-plus" aria-hidden="true"></i> Tag(s)
            </button>

        </form>
    </div> <!-- ./col-lg-12 -->
</div> <!-- ./row -->

<hr>

<div class="row">
    {% for tag in ticket.tags.all %}
        <div class="col-lg-4 tag-btn-container">
            <a href="{% url 'ticket:remove_tag' ticket_id=ticket.id tag_id=tag.id %}"
               class="btn btn-outline-danger btn-block">
                <i class="fa fa-trash"></i> {{ tag.name }}
            </a>
        </div> <!-- ./col-lg-3 -->
    {% endfor %}
</div> <!-- ./row -->
