<div class="card">
    <div class="card-header text-muted comment-header">
        <div class="row">
            <div class="col-sm-7">
                By <span class="comment-owner">
                {% if comment.from_email %}
                    {{ comment.sender }}
                {% else %}
                    {{ comment.get_owner_fullname }}
                {% endif %}
                </span>
                <span class="text-right">{{ comment.created | timesince }} ago</span>
            </div>
            <div class="col-sm-2 text-right">
                {% if comment.internal %}
                    Internal only
                {%  endif %}
            </div>
            <div class="col-sm-2 text-right">
                {{ comment.created }}
            </div>
            <div class="col-sm-1 text-right">
                {% if user.profile.is_twodb_user %}
                    <form method="POST" action="{% url "ticket:delete_comment" id=comment.id %}">
                       {% csrf_token %}
                        <button class="btn btn-sm btn-outline-danger" type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                {%  endif %}

            </div>
        </div> <!-- ./row -->
    </div> <!-- ./card-header -->

    <div class="card-block">
      <p class="card-text">{{ comment.body | linebreaks }}</p>
    </div>

    {% if comment.file_attachments.all %}
        <div class="card-footer text-muted">
            Attachment(s):
            {% for f in comment.file_attachments.all %}
                <a href="{{ f.get_absolute_url }}">{{ f.file_name }} / </a>
            {% endfor %}
        </div>
    {% endif %}

</div> <!-- ./card -->