<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group input-margin-top">
        <span class="input-group-addon sm-addon" id="title-addon">Title</span>
        <input class="form-control sm-input"
               id="id_title"
               type="text"
               name="title"
               value="{{ ticket.title }}"
               maxlength="250"
               required />
    </div>

    <div class="input-group input-margin-top">
        <span class="input-group-addon sm-addon" id="category-addon">Category *</span>
        <select class="select form-control sm-input"
                name="category"
                required
                id="id_category">
            {% for val in form.category %} {{ val }} {% endfor %}
        </select>
    </div>

    <div class="input-group input-margin-top">
        <span class="input-group-addon sm-addon" id="type-addon">Type *</span>
        <select class="select form-control sm-input"
                name="type"
                required
                id="id_type">
            {% for val in form.type %} {{ val }} {% endfor %}
        </select>
    </div>

    <div class="input-group input-margin-top">
        <span class="input-group-addon sm-addon" id="priority-addon">Priority *</span>
        <select class="select form-control sm-input"
                name="priority"
                required
                id="id_priority">
            {% for val in form.priority %} {{ val }} {% endfor %}
        </select>
    </div>


    {% if user.profile.is_twodb_user %}
        <div class="input-group input-margin-top">
            <span class="input-group-addon sm-addon" id="company-addon">Company</span>
            <select class="select form-control sm-input"
                    name="company"
                    id="id_company">
                {% for val in form.company %} {{ val }} {% endfor %}
            </select>
        </div>
    {% else %}
        <input class="form-control sm-input"
           id="id_company"
           type="text"
           name="company"
           value="{{ user.profile.company }}" hidden />
    {% endif %}


    {% if ticket %}

        <div class="input-group input-margin-top">
            <span class="input-group-addon sm-addon" id="status-addon">Status *</span>
            <select class="select form-control sm-input"
                    name="status"
                    required
                    id="id_status">
                {% for val in form.status %} {{ val }} {% endfor %}
            </select>
        </div>

        <div class="input-group input-margin-top">
            <span class="input-group-addon sm-addon" id="assign-to-addon">Assigned to</span>
            <select class="select form-control sm-input"
                    name="assigned_to"
                    id="id_assigned_to">
                {% for val in form.assigned_to %} {{ val }} {% endfor %}
            </select>
        </div>

    {% endif %}

    <div class="input-group input-margin-top">
        <span class="input-group-addon sm-addon" id="site-name-addon">Site name</span>
        <input class="form-control sm-input"
               id="id_site_name"
               type="text"
               name="site_name"
               value="{{ ticket.site_name }}"
               maxlength="250" />
    </div>

    {% if ticket %}

        <div class="input-group input-margin-top">
            <span class="input-group-addon sm-addon" id="duration-addon">Duration (mins)</span>
            <input class="form-control sm-input"
                   id="id_duration"
                   type="number"
                   name="duration"
                   value="{{ ticket.duration }}" />
        </div>

    {% endif %}

    <div class="form-group input-margin-top">
        <label for="id_description" class="form-control-label">
            Description<span class="asteriskField">*</span>
        </label>
        <textarea name="description"
                  cols="40"
                  class="textarea form-control"
                  required
                  rows="10"
                  id="id_description">{% if ticket.description %}{{ ticket.description }}{% endif %}</textarea>

        {{ form.description.errors }}

    </div>

    <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i> Save
    </button>
</form>

{{ form.errors }}