<div class="row">
    <div class="col-lg-8">
        <h5>{{ report.company }} Report: {{ report.year }}</h5>
    </div>
</div>

<!-- by month -->
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-9">
                {{ report.by_month.chart.as_html }}
            </div>
            <div class="col-lg-2">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <td>Month</td>
                            <td>
                                Ticket Count
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in report.by_month.table|slice:"1:" %}
                        <tr>
                            {% for cell in row %}
                                <td class="{% if cell == 0 %} zero-cell {% endif %}">{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- by month -->
<br>
<!-- by type -->
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-9">
                {{ report.by_type.chart.as_html }}
            </div>
            <div class="col-lg-2">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <td>Type</td>
                            <td>
                                Ticket Count
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in report.by_type.table|slice:"1:" %}
                        <tr>
                            {% for cell in row %}
                                <td class="{% if cell == 0 %} zero-cell {% endif %}">{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- by type -->
<br>
<!-- by category -->
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-9">
                {{ report.by_category.chart.as_html }}
            </div>
            <div class="col-lg-2">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <td>Category</td>
                            <td>
                                Ticket Count
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in report.by_category.table|slice:"1:" %}
                        <tr>
                            {% for cell in row %}
                                <td class="{% if cell == 0 %} zero-cell {% endif %}">{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- by category -->
<br>
<!-- by duration -->
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-9">
                {{ report.by_duration.chart.as_html }}
            </div>
            <div class="col-lg-2">
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <td>Month</td>
                            <td>
                                Minutes
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in report.by_duration.table|slice:"1:" %}
                        <tr>
                            {% for cell in row %}
                                <td class="{% if cell == 0 %} zero-cell {% endif %}">{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- by duration -->