{% load crispy_forms_tags %}

<div class="card">
    <div class="card-body search-form-container">
        <form action="" method="get">
            {% csrf_token %}

            {#    {{ filter.form | crispy }}#}

            <div class="row">
                <div class="col">
                    <div id="div_id_assigned_to" class="form-group">
                        <label for="id_assigned_to" class="form-control-label ">Assigned to</label>
                        <select name="assigned_to" id="id_assigned_to" class="select form-control">
                            {% for user in filter.form.assigned_to %}
                                {{ user }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_company" class="form-group">
                        <label for="id_company" class="form-control-label ">Company</label>
                        <select name="company" id="id_company" class="select form-control">
                            {% for company in filter.form.company %}
                                {{ company }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_category" class="form-group">
                        <label for="id_category" class="form-control-label ">Category</label>
                        <select name="category" id="id_category" class="select form-control">
                            {% for category in filter.form.category %}
                                {{ category }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_priority" class="form-group">
                        <label for="id_priority" class="form-control-label ">Priority</label>
                        <select name="priority" id="id_priority" class="select form-control">
                            {% for priority in filter.form.priority %}
                                {{ priority }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_reported_by" class="form-group">
                        <label for="id_reported_by" class="form-control-label ">Reported by</label>
                        <select name="reported_by" id="id_reported_by" class="select form-control">
                            {% for user in filter.form.reported_by %}
                                {{ user }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_status" class="form-group">
                        <label for="id_status" class="form-control-label ">Status</label>
                        <select name="status" id="id_status" class="select form-control">
                            {% for status in filter.form.status %}
                                {{ status }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_type" class="form-group">
                        <label for="id_type" class="form-control-label ">Type</label>
                        <select name="type" id="id_type" class="select form-control">
                            {% for type in filter.form.type %}
                                {{ type }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_type" class="form-group">
                        <label for="id_type" class="form-control-label ">Updated by</label>
                        <select name="type" id="id_type" class="select form-control">
                            {% for user in filter.form.updated_by %}
                                {{ user }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

            </div> <!-- ./row -->

            <div class="row">

                <div class="col-2">
                    <div id="div_id_comments" class="form-group">
                        <label for="id_comments" class="form-control-label ">Comments body contains</label>
                        <input type="text"
                               name="comments"
                               id="id_comments"
                               value="{{ request_params.comments }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col-2 -->

                <div class="col-2">
                    <div id="div_id_description" class="form-group">
                        <label for="id_description" class="form-control-label ">Description contains</label>
                        <input type="text"
                               name="description"
                               id="id_description"
                               value="{{ request_params.description }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col-2 -->

                <div class="col-2">
                    <div id="div_id_title" class="form-group">
                        <label for="id_title" class="form-control-label ">Title contains</label>
                        <input type="text"
                               name="title"
                               id="id_title"
                               value="{{ request_params.title }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col-2 -->

                <div class="col">
                    <div id="div_id_created" class="form-group">
                        <label for="id_created_0" class="form-control-label ">Created from</label>
                        <input type="text"
                               name="created_0"
                               id="id_created_0"
                               value="{{ request_params.created_0 }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_created" class="form-group">
                        <label for="id_created_0" class="form-control-label ">Created to</label>
                        <input type="text"
                               name="created_1"
                               id="id_created_1"
                               value="{{ request_params.created_1 }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_updated" class="form-group">
                        <label for="id_updated_0" class="form-control-label ">Updated from</label>
                        <input type="text"
                               name="updated_0"
                               id="id_updated_0"
                               value="{{ request_params.updated_0 }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_updated" class="form-group">
                        <label for="id_updated_0" class="form-control-label ">Updated to</label>
                        <input type="text"
                               name="updated_1"
                               id="id_updated_1"
                               value="{{ request_params.updated_1 }}"
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col -->

            </div>

            <div class="row">
                <div class="col-2">
                    <button class="btn btn-block btn-sm btn-outline-success">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                    </button>
                </div>
                <div class="col-1">
                    <a href="{% url 'ticket:ticket_search' %}" class="btn btn-block btn-sm btn-outline-warning">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Reset Fields
                    </a>
                </div>
            </div> <!-- ./row -->

        </form>
    </div> <!-- ./card-body -->
</div> <!-- ./card -->
