{% load crispy_forms_tags %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#ticket-detail" role="tab">Detail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#edit-ticket" role="tab">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tags-ticket" role="tab">Tags</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="ticket-detail" role="tabpanel">
            <br>
            <div class="card">
                <div class="card-block ticket-detail-summary">
                    <h6 class="card-title">{{ ticket.title }}</h6>
                    <p class="card-text" style="white-space: pre-wrap;">{{ ticket.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Reported By
                        </div>
                        <div class="col-sm-6">
                            {% if ticket.reported_by %}
                                {{ ticket.reported_by }}
                            {% else %}
                                Email
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Company
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.company }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Site
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.site_name }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Status
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.status }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Category
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.category }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Type
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.type }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Priority
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.priority }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-sm-6">
                            Assigned to
                        </div>
                        <div class="col-sm-6">
                            {{ ticket.assigned_to }}
                        </div>
                    </li>
                </ul>
            </div>


        </div> <!-- ./tab-pane -->

        <div class="tab-pane" id="edit-ticket" role="tabpanel">

            {% include 'partials/ticket_update_form.html' %}

        </div>

        <div class="tab-pane" id="tags-ticket" role="tabpanel">

            {%  include 'partials/tags_panel.html' %}

        </div>

    </div> <!-- ./tab-content -->
