<div class="tab-pane" id="ticket-events" role="tabpanel">
    <br>
    <div class="comments-list">
        {%  for event in ticket.events.all %}
            <div class="card">
                <div class="card-header text-muted comment-header">
                    <div class="row">
                        <div class="col-sm-10">
                            Ticket {{ event.type }} by
                            <span class="comment-owner">
                                {% if event.owner %}
                                    {{ event.owner }}
                                {% else %}
                                    Email
                                {% endif %}
                            </span>
                            <span class="text-right">{{ event.created | timesince }} ago</span>
                        </div>
                        <div class="col-sm-2 text-right">
                            {{ event.created }}
                        </div>
                    </div> <!-- ./row -->
                </div> <!-- ./card-header -->

                {% if event.info %}
                    <div class="card-block">
                        <p class="card-text">{{ event.info }}</p>
                    </div>
                {% endif %}

            </div> <!-- ./card -->

            <br>
        {% endfor %}
    </div> <!-- ./comments-list -->
</div> <!-- ./tab-pane -->