<div class="tab-pane active" id="ticket-comments" role="tabpanel">
    <br>
    <div class="comments-list">

        {% if not ticket.comments.all.count %}

            <div class="card">
                <div class="card-header text-muted text-center">
                  No Comments Found
                </div>
            </div> <!-- ./card -->

        {% else %}
            {% comment %} TODO add internal comment logic {% endcomment %}
            {%  for comment in ticket.comments.all %}

                {%  if comment.internal %}

                    {% if user.profile.is_twodb_user %}
                        {% include 'partials/ticket_comment.html' %}
                    {% else %}
                       {% comment %}Do not display anything{% endcomment %}
                    {%  endif %}

                {% else %}

                    {% include 'partials/ticket_comment.html' %}

                {% endif %}

                <br>
            {% endfor %}

        {% endif %}

    </div> <!-- ./comments-list -->


    <div class="comment-add-container">
        <form method="post" action='{% url "ticket:create_comment" %}' enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <select name="owner" required="" id="id_owner" hidden>
                    <option value="{{ user.id }}" selected="">{{ user.id }}</option>
                </select>
            </p>
            <p>
                <select name="ticket" required="" id="id_ticket" hidden>
                    <option value="{{ ticket.id }}" selected="">{{ ticket.id }}</option>
                </select>
            </p>
            <div class="form-group">
                <textarea class="form-control" id="id_body" name="body" value="test" rows="7" required spellcheck></textarea>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Comment</button>
                </div>
                <div class="col-sm-2">
                    <label for="id_attachment" class="btn btm-sm btn-block btn-outline-info"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach file</label>
                    <input type="file" name="attachment" class="form-control-file" id="id_attachment" hidden>
                </div>
                <div class="col-sm-1">
                    {% if user.profile.is_twodb_user %}
                        <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" id="id_internal" name="internal" class="form-check-input" /> Internal
                            </label>
                        </div>
                    {%  endif %}
                </div>
            </div>
        </form>
    </div> <!-- ./comment-add-container -->
</div> <!-- ./tab-pane -->