{% load crispy_forms_tags %}

<div class="card">
    <div class="card-body search-form-container">
        <form action="" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col">
                    <div id="div_id_company" class="form-group">
                        <label for="id_company" class="form-control-label ">Company</label>
                        <select name="company" id="id_company" class="select form-control">
                            {% for company in form.company %}
                                {{ company }}
                            {% endfor %}
                        </select>
                    </div>
                </div> <!-- ./col -->

                <div class="col">
                    <div id="div_id_year" class="form-group">
                        <label for="id_year" class="form-control-label ">Year</label>
                        <input type="number"
                               name="year"
                               id="id_year"
                                {% if form.year.value %}
                                    value="{{ form.year.value }}"
                               {% endif %}
                               class="textinput textInput form-control">
                    </div>
                </div> <!-- ./col -->
            </div> <!-- ./row -->

            <div class="row">
                <div class="col">
                    <button class="btn btn-block btn-sm btn-outline-success">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Get Report
                    </button>
                </div>
            </div>

        </form>
    </div> <!-- ./card-body -->
</div>